---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

---

<ContentSection title="Contact Us" id="contact">
    <Fragment slot="lead">
      Get in touch with us!
    </Fragment>
    <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2">
      <div style="display: flex; align-items: flex-start;">
        <Icon pack="mdi" name="phone" class="text-primary h-6 w-6" />
        <span class="text-sm">Secretary General: +91 8790928610 (Sanjana)</span>
      </div>
      <div style="display: flex; align-items: flex-start;">
        <Icon pack="mdi" name="phone" class="text-primary h-6 w-6" />
        <span class="text-sm">Director General: +91 8121168074 (Mahendra)</span>
      </div>
      <div style="display: flex; align-items: flex-start;">
        <Icon pack="mdi" name="phone" class="text-primary h-6 w-6" />
        <span class="text-sm">USG Delegate Affairs: +91 7989376618 (Keerthana)</span>
      </div>
      <div style="display: flex; align-items: flex-start;">
        <Icon pack="mdi" name="phone" class="text-primary h-6 w-6" />
        <span class="text-sm">USG External Affairs: +91 8179491027 (Abrar)</span>
      </div>
      <div style="display: flex; align-items: flex-start;">
        <Icon pack="mdi" name="mail" class="text-primary h-6 w-6" />
        <span class="text-sm">Email: <a href = "mailto: muncmrit@gmail.com">muncmrit@gmail.com</a> </span>
      </div>
      <!-- Add a map here on the right -->
    </div>
  </ContentSection>
  
  
  
  
  
  