---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
    {
      title: "AIPPM",
      subtitle:"ALL INDIA POLITICAL PARTY MEET",
      description:
        "AIPPM is a simulated committee in Model United Nations that focuses on the political landscape of India. It provides a platform for delegates to represent various political parties and engage in discussions regarding national and regional policies. Delegates analyze current political issues, draft resolutions, and negotiate with other parties to find solutions. AIPPM aims to enhance participants' understanding of Indian politics, policy-making, and coalition building.",
      icon: "mdi:handshake",
    },
    {
      title: "UNHRC",
      subtitle:"UNITED NATIONS HUMAN RIGHTS COUNCIL",
      description:
        "UNHRC is a key committee in Model United Nations that addresses human rights issues on a global scale. Delegates in this committee represent different countries and work towards promoting and protecting human rights worldwide. They debate and develop resolutions related to pressing human rights concerns, such as freedom of expression, gender equality, and the rights of vulnerable populations. UNHRC plays a crucial role in raising awareness and taking action to ensure the realization of human rights for all.",
      icon: "mdi:human",
    },
    {
      title: "DISEC",
      subtitle:"DISARMAMENT & INTERNATIONAL SECURITY COMMITTEE",
      description:
        "DISEC is a prominent committee in Model United Nations focused on matters related to disarmament, global security, and non-proliferation of weapons. Delegates representing different countries deliberate on a range of topics, including nuclear disarmament, arms control, cybersecurity, and counter-terrorism. Through research, negotiation, and drafting resolutions, DISEC seeks to establish measures that enhance international security, reduce arms race tensions, and foster cooperation among nations.",
      icon: "mdi:security",
    },
    {
      title: "IP",
      subtitle:"INTERNATIONAL PRESS",
      description:
        "The International Press Committee in Model United Nations is responsible for reporting on the proceedings and activities of the conference. Participants in this committee take on the role of journalists, photographers, and media personnel. They gather information, conduct interviews, and produce news articles, press releases, and multimedia content. The International Press plays a vital role in disseminating information, fostering dialogue, and documenting the diverse perspectives and diplomatic efforts of the Model UN conference.",
      icon: "mdi:camera",
    },
  ];
---

<ContentSection title="FAQ" id="FAQ">
    <Fragment slot="lead">
        Can’t find the answer you’re looking for? Reach out to our customer support team.    
    </Fragment>
    <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-1">
      {
        features.map(({ title,description }) => (
          <li class="flex flex-col gap-4 border border-default bg-offset p-6">
            <p class="font-extrabold text-xl">{title}</p>
            <p class="text-justify text-offset text-sm">{description}</p>
          </li>
        ))
      }
    </ul>
  </ContentSection>