---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
    {
      title: "How do I register for the MUN conference?",
      subtitle:"",
      description:
        "Delegates are urged to complete their conference registration by utilizing the Google form accessible on the official website as well as on the social media pages.",
      icon: "mdi:handshake",
    },
    {
      title: "How can I prepare for my assigned committee or role?",
      subtitle:"UNITED NATIONS HUMAN RIGHTS COUNCIL",
      description:
        "Delegates are encouraged to establish contact with the organizers by utilizing the contact numbers provided on the website or within the application form",
      icon: "mdi:human",
    },
    {
      title: "How can I contact the conference organizers for additional questions or support?",
      subtitle:"DISARMAMENT & INTERNATIONAL SECURITY COMMITTEE",
      description:
        "Delegates are encouraged to establish contact with the organizers by utilizing the contact numbers provided on the website or within the application form",
      icon: "mdi:security",
    },
    {
      title: "How can I stay updated on conference news and announcements?",
      subtitle:"INTERNATIONAL PRESS",
      description:
        "Any updates related to the MUN will be posted on the social media accounts",
      icon: "mdi:camera",
    },

    {
      title: "Is there a code of conduct or behavior expectations during the conference?",
      subtitle:"INTERNATIONAL PRESS",
      description:
        "Delegates are earnestly expected to exhibit exemplary behavior both within the conference premises and on the campus. It is strongly advised that attendees abstain from engaging in any activities, including but not limited to smoking and the consumption of alcoholic beverages, as well as any other conduct that may disrupt the harmonious atmosphere of the conference.",
      icon: "mdi:camera",
    },

    {
      title: "What is the dress code for the MUN conference?",
      subtitle:"INTERNATIONAL PRESS",
      description:
        "The attire prescribed for the initial day of the conference shall adhere to the business formal dress code, whereas on the second day, participants are kindly requested to put on Indian traditional attire, and finally, on the third day, attendees are expected to resume the business formal dress code",
      icon: "mdi:camera",
    },
  ];
---

<ContentSection title="FAQ" id="FAQ">
    <Fragment slot="lead">
        Can’t find the answer you’re looking for? Reach out to our customer support team.    
    </Fragment>
    <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-1 ">
      {
        features.map(({ title,description }) => (
          <li class="flex flex-col gap-4 bg-white bg-opacity-20 backdrop-blur-lg drop-shadow-lg border border-default bg-offset p-6">
            <p class="font-extrabold text-white text-xl">{title}</p>
            <p class="lg:text-justify text-white text-offset text-sm">{description}</p>
          </li>
        ))
      }
    </ul>
  </ContentSection>