---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://cmrithyderabad.edu.in/",
    description: "CMR Institute Of Technology",
    icon: "mdi:university",
  },
  {
    url: "https://www.instagram.com/cmritmun/",
    description: "CMRIT MUN in Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://www.facebook.com/cmritmun/",
    description: "CMRIT MUN in Facebook",
    icon: "fa-brands:facebook",
  },
  {
    url: "https://www.linkedin.com/company/cmrit-mun/",
    description: "Astro on Twitter",
    icon: "fa-brands:linkedin",
  },
];
---

<footer class="z-100 relative flex h-64 items-center justify-center text-white">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-4 gap-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            target="_blank"
            href={link.url}
          >
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<div class="text-center">
  <span class="font-bold text-gray-500 text-xs">
    © Copyright CMRIT. All Rights Reserved
  </span>
</div>
<div class=" text-center">
  <span class="font-bold text-yellow-500 text-xs">
    <a href="https://github.com/tanmaypradhan4112/CMRIT-MUN-website"
      >Designed by Board of IT</a
    >
  </span>
</div>
