---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<!-- Changing of content -->
<ContentSection title="Where Ideas become Resolution" id="about">
  <Fragment slot="lead" >
    Every idea, no matter how small, carries the potential to ignite change. 
    It's a call to dreamers, thinkers, and doers, reminding them that within them lies the power to turn vision into reality.
    Join us for a memorable Model United Nations experience in Hyderabad. Register now to explore, debate and make your mark!
  </Fragment>
  <div>
    <!-- Register button -->
    <a
    href="{}"
    class="flex items-center text-white justify-center gap-3 border-2 border-current px-6 py-4"
    >
    <Icon pack="mdi" name="register" class="h-8" />
    <span>Registrations</span>
  </a>
</div>
</ContentSection>
