<!-- ---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
import { Icon } from "astro-icon";

---

<ContentSection title="Itinerary" id="itinerary">
    <Fragment slot="lead">Overview of the conference!</Fragment>

    <div class="timeline">
        <div class="container1 left-container">
            <Icon id="sumn" pack="mdi" name="chair-school" class="h-8" />
            <div class="text-box">
                <h2 class="itwords"><strong>Day 1:</strong></h2>
                <small class="itwords">7th Dec</small>
                <p class="itwords">Business formals</p>
                <span class="lca"></span>
            </div>
        </div>

        <div class="container1 right-container">
            <Icon id="sumn1" pack="mdi" name="party-popper" class="h-8" />
            <div class="text-box">
                <h2 class="itwords">Day2</h2>
                <small class="itwords">8th Dec</small>
                <p class="itwords">Indian traditional</p>
                <span class="rca"></span>
            </div>
        </div>

        <div class="container1 left-container">
            <Icon id="sumn" pack="mdi" name="medal" class="h-8" />
            <div class="text-box">
                <h2 class="itwords">Day3</h2>
                <small class="itwords">9th Dec</small>
                <p class="itwords">Business formals</p>
                <span class="lca"></span>
            </div>
        </div>
    </div> -->