---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);

const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);

const features: Array<FeatureItem> = [
  {
    title: "Sanjana Yammanur",
    subtitle: "Secretary General",
    description: "https://i.imgur.com/tD8TG0K.png",   
    icon: "mdi:instagram",
  },
  {
    title: "Mahendra Lakshmi",
    subtitle: "Director General",
    description:
      "https://i.imgur.com/eB1skVG.png",
    icon: "mdi:instagram",
  },
  {
    title: "J. Chandrika",
    subtitle: "Deputy Secretary General",
    description:"https://i.imgur.com/R6Gz30F.png",
    icon: "mdi:security",
  },
  {
    title: "M.Pramod Reddy",
    subtitle: "Deputy Director General",
    description:"https://i.imgur.com/XNHeruH.png",
    icon: "mdi:camera",
  },
  {
    title: "Tanmay Pradhan",
    subtitle: "USG-IT Head",
    description: "https://i.imgur.com/0BXL3xg.png",
    icon: "mdi:security",
  },
  {
    title: "Raghava Keesanapalli",
    subtitle: "USG-IT Head",
    description:"https://i.imgur.com/TmBoVnT.png",
    icon: "mdi:camera",
  },
  {
    title: "Jatin",
    subtitle: "USG-design Head",
    description:
      "https://i.imgur.com/E9dVBdi.png",
    icon: "mdi:security",
  },
  {
    title: "Sakshi Sinha",
    subtitle: "USG-Marketing Head",
    description:
      "https://i.imgur.com/IDiVXT6.png",
    icon: "mdi:camera",
  },
  {
    title: "Keerthana",
    subtitle: "USG-Delegate Affairs Head",
    description:
      "https://i.imgur.com/WF1pZ8I.png",
    icon: "mdi:camera",
  },
  {
    title: "Akanksha",
    subtitle: "USG-External Affairs",
    description:
      "https://i.imgur.com/tlmMh9y.png",
    icon: "mdi:camera",
  },
  {
    title: "Abrar",
    subtitle: "USG-External Affairs",
    description:
      "https://i.imgur.com/RM8C7rk.png",
    icon: "mdi:camera",
  },
  {
    title: "Jahnavi",
    subtitle: "OC-Head",
    description:
      "https://i.imgur.com/1f1IKs0.png",
    icon: "mdi:camera",
  },
  {
    title: "M.Srilekha",
    subtitle: "USG-Venue/Socials head",
    description:
      "https://i.imgur.com/LbPnEaN.png",
    icon: "mdi:camera",
  },

];
---

<ContentSection title="Secretariat" id="secretariat">
  <Fragment slot="lead">
    Meet our <span class="text-primary">Team</span>
  </Fragment>
  <div style="margin-top:-80px;">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-5 xl:gap-x-8"
      >
        {
          features.map(({ title, subtitle,description}) => (
            <div>
              <div class="aspect-h-1 aspect-w-1 xl:aspect-h-8 xl:aspect-w-7 w-full overflow-hidden rounded-lg shadow-sm shadow-orange-200 border bg-gray-200">
                <img
                  src={description}
                  class="h-full w-full object-cover object-center group-hover:opacity-75"
                />
              </div>
              <h3 class="mt-2 font-bold text-white text-md">{title}</h3>
              <p class="text-gray text-gray-500 font-medium text-sm">{subtitle}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</ContentSection>
