---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);

const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);

const features: Array<FeatureItem> = [
  {
    title: "Sanjana Yammanur",
    subtitle: "Secretary General",
    description: "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Sanjana%20-%20SG.png?raw=true",   
    icon: "mdi:instagram",
  },
  {
    title: "Mahendra Lakshmi",
    subtitle: "Director General",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Mahendra%20-%20DG.png?raw=true",
    icon: "mdi:instagram",
  },
  {
    title: "J. Chandrika",
    subtitle: "Deputy Secretary General",
    description:"https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Chandrika%20-%20USG%20Deputy%20SG.png?raw=true",
    icon: "mdi:security",
  },
  {
    title: "M.Pramod Reddy",
    subtitle: "Deputy Director General",
    description:"https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Pramod%20-%20Deputy%20DG.png?raw=true",
    icon: "mdi:camera",
  },
  {
    title: "Tanmay Pradhan",
    subtitle: "USG-IT Head",
    description:"https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Tanmay%20-%20USG%20IT.png?raw=true",
    icon: "mdi:security",
  },
  {
    title: "Raghava Keesanapalli",
    subtitle: "USG-IT Head",
    description:"https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Raghav%20-%20USG%20IT.png?raw=true",
    icon: "mdi:camera",
  },
  {
    title: "Jatin",
    subtitle: "USG-design Head",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Jatin%20Jangir%20-%20USG%20Design.png?raw=true",
    icon: "mdi:security",
  },
  {
    title: "Sakshi Sinha",
    subtitle: "USG-Marketing Head",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Shakshi%20-%20USG%20Marketing.png?raw=true",
    icon: "mdi:camera",
  },
  {
    title: "Keerthana",
    subtitle: "USG-Delegate Affairs Head",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Keerthana%20-%20USG%20Delegate%20affairs.png?raw=true",
    icon: "mdi:camera",
  },
  {
    title: "Akanksha",
    subtitle: "USG-External Affairs",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Akanksha%20-%20USG%20External.png?raw=true",
    icon: "mdi:camera",
  },
  {
    title: "Abrar",
    subtitle: "USG-External Affairs",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Abrar%20-%20USG%20External.png?raw=true",
    icon: "mdi:camera",
  },
  {
    title: "Jahnavi",
    subtitle: "OC-Head",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Jahnavi%20-%20OC%20head.png?raw=true",
    icon: "mdi:camera",
  },
  {
    title: "Rahul Dasari",
    subtitle: "USG-Digital Head",
    description:
      "The International Press Committee in Model United Nations is responsible for reporting on the proceedings and activities of the conference. Participants in this committee take on the role of journalists, photographers, and media personnel. They gather information, conduct interviews, and produce news articles, press releases, and multimedia content. The International Press plays a vital role in disseminating information, fostering dialogue, and documenting the diverse perspectives and diplomatic efforts of the Model UN conference.",
    icon: "mdi:camera",
  },
  {
    title: "M.Srilekha",
    subtitle: "USG-Venue/Socials head",
    description:
      "https://github.com/tanmaypradhan4112/CMRIT-MUN-website/blob/main/src/assets/EB/Srilekha%20-%20USG%20Socials.png?raw=true",
    icon: "mdi:camera",
  },

];
---

<ContentSection title="Secretariat" id="secretariat">
  <Fragment slot="lead">
    Meet our <span class="text-primary">Team</span>
  </Fragment>
  <div style="margin-top:-80px;">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <div
        class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-5 xl:gap-x-8"
      >
        {
          features.map(({ title, subtitle,description}) => (
            <div>
              <div class="aspect-h-1 aspect-w-1 xl:aspect-h-8 xl:aspect-w-7 w-full overflow-hidden rounded-lg bg-gray-200">
                <img
                  src={description}
                  class="h-full w-full object-cover object-center group-hover:opacity-75"
                />
              </div>
              <h3 class="mt-2 font-bold text-white text-lg">{title}</h3>
              <p class="text-gray font-medium text-sm">{subtitle}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</ContentSection>
