---
import SplashImage from "~/components/splash-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full">
  <div class="absolute inset-0 overflow-hidden opacity-10">
    <SplashImage />
  </div>
  <div
  class="relative grid h-full place-items-center sm:grid-cols-2"
  id="first_page"
  >
  <h2
  class="flex flex-col gap-2 self-end text-center justify-center items-center sm:gap-4 sm:self-auto sm:justify-self-end"
  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
  > 
    <img width="40%" src="https://i.imgur.com/Re0zuCn.png" alt="">
    <div
    class="gradient-text text-center font-extrabold tracking-tighter text-7xl"
    >
        CMRIT MUN 2023
        <div class="tracking-normal">
          <font size="5">7th, 8th and 9th Dec </font>
        </div>
        <div class="tracking-normal text-sm">
          <font size="5">CMRIT, Hyderabad</font>
        </div>
      </div>
    </h2>
  </div>
</section>
